.button {
  display: inline-flex;
  justify-content: center;

  padding: 24px 42px;

  cursor: pointer;
  user-select: none;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  word-break: break-word;

  color: $color-default-white;
  border: none;
  outline-offset: 3px;
  background-color: transparent;

  &:hover {
    color: $color-egyptian-blue;
    background-color: $color-default-white;
  }

  &:focus {
    color: $color-egyptian-blue;
    border: $border-black;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
  }

  &:active {
    color: $color-sapphire;
    border: 2px solid $color-default-white;
    background-color: $color-default-white;
  }

  &--disabled {
    pointer-events: none;

    opacity: 0.5;


    &:focus {
      color: $color-default-white;
      background-color: transparent;
      border: 2px solid $color-default-white;
    }
  }
}
