.coach {
  font-family: $roboto;

  padding-bottom: 40px;

  @media(min-width: $tablet-width) {
    padding-bottom: 60px;
  }

  @media(min-width: $desktop-width) {
    margin: 0 auto;
    padding: 134px 103px 100px;
  }
}

.coach__container {
  @media(min-width: $tablet-width) {
    max-width: 767px;
    margin: 0 auto;
  }

  @media(min-width: $desktop-width) {
    max-width: 1160px;
  }
}

.coach__header {
  font-family: $alumni;
  font-size: $font-line-size-giraffe;
  font-weight: $semi-bold;
  line-height: $font-line-size-giraffe;

  margin-bottom: 19px;

  text-align: center;

  color: $color-sapphire;

  @media(min-width: $tablet-width) {
    font-size: $font-line-size-grampus;
    line-height: $font-line-size-grampus;

    margin: 0;
    margin-bottom: 46px;
  }

  @media(min-width: $desktop-width) {
    margin-bottom: 46px;

    text-align: left;
  }
}

.coach__info {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
}

.coach__wrapper {
  position: relative;
}

.coach__slider.swiper {
  width: 226px;

  @media(min-width: $tablet-width) {
    width: 560px;
  }

  @media(min-width: $desktop-width) {
    width: 1160px;
  }
}

.coach__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.coach__item {
  cursor: pointer;

  color: $color-default-white;
  background-color: $color-spindle;

  &:focus .coach__description-wrapper {
    background-color: $coach-item-shadow;
  }

  &:focus .coach__name,
  &:focus .coach__sport,
  &:focus .coach__option-list {
    opacity: 1;
  }

  @media(min-width: $desktop-width) {
    &:hover .coach__description-wrapper {
      background-color: $coach-item-shadow;
    }

    &:hover .coach__name,
    &:hover .coach__sport,
    &:hover .coach__option-list {
      opacity: 1;
    }
  }
}

.coach__item-name {
  font-size: $font-line-size-bear;
  font-weight: $regular;
  line-height: $font-line-size-bear;

  position: absolute;
  top: 87%;
  left: 50%;

  min-width: 128px;
  margin: 0;

  transform: translate(-50%, -50%);

  @media(min-width: $tablet-width) {
    top: 88%;
  }

  &--small {
    min-width: 150px;
  }

  &--big {
    min-width: 177px;
  }
}

.coach__photo {
  height: 280px;

  @media(min-width: $tablet-width) {
    width: 260px;
    height: 300px;
  }
}

.coach__photo-img {
  width: 100%;
  height: 100%;

  @media(min-width: $tablet-width) {
    object-fit: cover;
  }

  @media(min-width: $desktop-width) {
    object-fit: none;
  }
}

.coach__button {
  display: none;

  border: none;
  outline: none;
  background-color: transparent;

  @media(min-width: $tablet-width) {
    position: absolute;

    display: block;

    width: 58px;
    height: 58px;

    .coach__button-border {
      stroke: none;
    }
  }

  &:disabled {
    pointer-events: none;

    opacity: 0.3;
    color: $color-grey;
  }
}

.coach__button.swiper-button-prev {
  @media(min-width: $tablet-width) {
    bottom: 140px;
    left: 20px;
  }

  @media(min-width: $desktop-width) {
    bottom: 143px;
    left: -81px;
  }

  &:hover .coach__button-border {
    stroke: $color-sapphire;
  }

  &:focus .coach__button-border {
    stroke: $color-sapphire;
    fill: $color-grey;
  }

  &:active .coach__button-center {
    stroke: $color-default-white;
  }

  &:active .coach__button-border {
    stroke: $color-sapphire;
    fill: $color-sapphire;
  }
}

.coach__button.swiper-button-next {
  right: 6px;

  transform: rotate(180deg);

  @media(min-width: $tablet-width) {
    top: 140px;
    right: 20px;
  }

  @media(min-width: $desktop-width) {
    top: 137px;
    right: -81px;
  }

  &:hover .coach__button-border {
    stroke: $color-sapphire;
  }

  &:focus .coach__button-border {
    stroke: $color-sapphire;
    fill: $color-grey;
  }

  &:active .coach__button-center {
    stroke: $color-default-white;
  }

  &:active .coach__button-border {
    stroke: $color-sapphire;
    fill: $color-sapphire;
  }
}
