.form {
  max-width: 100%;
  padding: 71px 15px;
  min-height: 130px;

  @media (min-width: $tablet-width) {
    max-width: 688px;
    margin: 0 auto;
    padding: 60px 5px;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    padding: 59px 103px 60px;
  }
}

.form__container {
  max-width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 440px;
  }

  @media (min-width: $desktop-width) {
    max-width: 477px;
    margin: 0;
    margin-left: auto;
  }
}

.form__header {
  font-family: $alumni;
  font-size: $font-line-size-giraffe;
  font-weight: $semi-bold;
  line-height: $font-line-size-giraffe;

  margin: 0 auto;
  max-width: 290px;
  overflow-wrap: break-word;
  margin-bottom: 36px;

  color: $color-default-white;

  @media (min-width: $tablet-width) {
    font-size: $font-line-size-grampus;
    line-height: $font-line-size-grampus;
    margin: 0;
    max-width: 690px;
    margin-bottom: 32px;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 477px;
    margin: 1px 0 31px;
    margin-left: auto;

    text-align: left;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: repeat(2, 205px);
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 240px);
    column-gap: 14px;
  }
}

.form__field {
  position: relative;

  &:first-child {
    margin-bottom: 36px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;

    &:first-child {
      margin-bottom: 0;
    }
  }
}

.form__input {
  font-size: $font-line-size-rabbit;
  font-weight: $light;
  line-height: $font-line-size-bear;

  box-sizing: border-box;
  width: 100%;
  height: 27px;
  margin-bottom: 17px;
  padding: 9px 0;

  color: $color-default-white;
  border: none;
  border-bottom: 2px solid $color-light-slate-grey;
  outline: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    font-weight: $regular;

    width: 100%;
    height: 31px;
    padding: 9px 0;
  }

  @media (min-width: $desktop-width) {
    width: 93%;
    height: 32px;
    margin-bottom: 35px;
    padding: 9px 0 7px;
  }

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:focus {
    padding-left: 2px;

    border: 1px solid $color-default-white;

    @media (min-width: $tablet-width) {
      margin-bottom: 7px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 20px;
    }

    &::placeholder {
      color: transparent;
    }
  }

  &:invalid:not(:placeholder-shown) {
    margin-bottom: 17px;
    padding: 1px 0 4px;

    border: none;
    border-bottom: 1px solid $color-torch-red;

    @media (min-width: $desktop-width) {
      margin-bottom: 35px;
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.4;
    user-select: none;

    &:focus {
      padding: 0;
      cursor: none;
      border: none;
      border-bottom: 2px solid $color-light-slate-grey;

      &::placeholder {
        color: $color-default-white;
        opacity: 0.4;
      }
    }
  }
}

.form__error-message {
  font-size: $font-line-size-rabbit;
  line-height: $font-line-size-bear;

  position: absolute;
  bottom: 11px;
  left: 0;

  display: none;

  min-width: 280px;

  color: $color-torch-red;

  &--error {
    display: block;
  }

  @media (min-width: $tablet-width) {
    bottom: 7px;
  }
}

.form__button {
  font-size: $font-line-size-mouse;
  font-weight: $bold;
  line-height: $font-line-size-mouse;

  width: 100%;
  padding: 23px 49px 21px;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  color: $color-default-white;
  border: 2px solid $color-default-white;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding: 26px 49px 24px;
  }
}
