.games {
  font-family: $roboto;

  min-height: 524px;

  @media (min-width: $tablet-width) {
    min-height: 292px;
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    min-height: 500px;
    padding-top: 100px;
  }
}

.games__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;

    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1160px;
  }
}

.games__content {
  display: flex;
  flex-direction: column;

  width: 290px;
  min-height: 240px;
  padding-top: 40px;
  padding-bottom: 40px;

  color: $color-default-white;
  background-color: $color-red;

  @media (min-width: $tablet-width) {
    width: 300px;
    min-width: auto;
    min-height: 268px;
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    min-height: 381px;
    padding: 59px 0 60px 64px;
  }
}

.games__text {
  font-size: $font-line-size-fox;
  font-weight: $light;
  line-height: $font-line-size-deer;

  width: 215px;
  padding-left: 40px;

  @media (min-width: $tablet-width) {
    font-size: $font-line-size-wolf;
    line-height: $font-line-size-lion;

    width: auto;
    margin: 2px 0;
    margin-bottom: 10px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 3px;
    margin-bottom: 31px;
    padding-top: 23px;
    padding-left: 16px;
  }
}

.games__link {
  font-family: $roboto;
  font-size: $font-line-size-mouse;
  font-weight: $bold;
  line-height: $font-line-size-mouse;

  width: 188px;
  margin-left: 40px;
  padding: 22px 9px;

  text-align: center;
  text-transform: uppercase;

  border: 2px solid $color-default-white;

  @media (min-width: $tablet-width) {
    font-size: $font-line-size-mouse;
    line-height: $font-line-size-mouse;

    width: 196px;
    padding: 25px 10px;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-line-size-mouse;
    line-height: $font-line-size-mouse;

    width: 284px;
    margin-left: 16px;
    padding: 26px 26px 24px;
  }
}

.games__date {
  display: flex;

  @media (min-width: $tablet-width) {
    column-gap: 22px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 73px;
  }
}

.games__header {
  font-family: $alumni;
  font-size: 48px;
  font-weight: $semi-bold;
  line-height: $font-line-size-grampus;
  overflow-wrap: break-word;
  max-width: 140px;
  margin: 0;
  padding-left: 36px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    font-size: 82px;
    line-height: 96px;

    width: 185px;
    max-width: 185px;
    padding-top: 1px;
    padding-left: 3px;
  }
}

.games__header-span {
  margin-left: 4px;

  @media (min-width: $tablet-width) {
    margin-left: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 8px;
  }
}

.games__time {
  font-size: $font-line-size-lion;
  font-weight: $bold;
  line-height: $font-line-size-lion;

  position: relative;
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 5px;
  padding-left: 56px;

  &::before {
    position: absolute;
    top: -3px;
    left: 56px;

    width: 56px;
    height: 1px;

    content: "";

    background-color: $color-default-white;

    @media (min-width: $tablet-width) {
      top: -4px;
      left: 0;

      width: 100px;
    }

    @media (min-width: $desktop-width) {
      width: 95px;
    }
  }

  &--line::before {
    width: 42px;

    @media (min-width: $tablet-width) {
      top: -4px;

      width: 100px;
    }

    @media (min-width: $desktop-width) {
      width: 95px;
    }
  }

  @media (min-width: $tablet-width) {
    line-height: $font-line-size-bear;
    margin-top: 5px;
    margin-bottom: 9px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;

    margin-top: 10px;
    margin-bottom: 18px;

    &:last-child {
      padding-top: 4px;
    }
  }
}

.games__subtitle {
  font-size: $font-line-size-fox;
  font-weight: $light;
  line-height: $font-line-size-deer;
  overflow-wrap: break-word;
  max-width: 100px;
  margin: 0;
  margin-bottom: 5px;
  padding-left: 56px;

  @media (min-width: $tablet-width) {
    font-size: $font-line-size-wolf;
    line-height: $font-line-size-lion;

    margin-bottom: 3px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.games__day {
  overflow-wrap: break-word;
  max-width: 28px;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
  }
}

.games__month {
  overflow-wrap: break-word;
  font-size: $font-line-size-mouse;
  font-weight: $regular;
  line-height: $font-line-size-mouse;

  display: inline-block;

  width: 50px;
  margin-left: 4px;

  vertical-align: baseline;

  @media (min-width: $tablet-width) {
    font-size: $font-line-size-rabbit;
    line-height: $font-line-size-bear;

    width: 47px;
    margin-left: 6px;
  }

  @media (min-width: $desktop-width) {
    line-height: $font-line-size-lion;

    margin-left: 6px;
  }
}

.games__picture {
  width: 290px;
  height: 290px;
  margin: 0;

  background-color: $color-sapphire;

  @media (min-width: $tablet-width) {
    width: 378px;
    height: 348px;
  }

  @media (min-width: $desktop-width) {
    width: 660px;
    height: 500px;
  }
}

.games__img {
  width: 290px;
  height: 290px;

  @media (min-width: $tablet-width) {
    width: 378px;
    height: 348px;
  }

  @media (min-width: $desktop-width) {
    width: 660px;
    height: 500px;
  }
}
