.header__wrapper {
  display: flex;
  justify-content: space-between;

  max-width: 320px;
  min-height: 54px;
  padding-left: 15px;

  @media(min-width: $tablet-width) {
    max-width: 700px;
    min-height: 69px;
    padding: 15px 31px 0 45px;
  }

  @media(min-width: 769px) {
    max-width: 692px;
  }

  @media(min-width: $desktop-width) {
    max-width: 1189px;
    min-height: 101px;
    margin: 0 auto;
    padding: 15px 102px 0 103px;
  }
}

.header__logo {
  margin: 0;
  margin-top: 16px;
  margin-right: 26px;

  @media(min-width: $desktop-width) {
    margin-top: 15px;
    margin-left: 14px;
  }
}

.header__nav {
  font-family: $roboto;

  position: relative;
  z-index: 1;

  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;

  gap: 20px;
}

.header__phone {
  font-size: $font-line-size-bear;
  font-weight: $bold;
  line-height: $font-line-size-bear;

  min-width: 60px;
  padding: 15px 16px 15px 14px;

  transition: 0.3s ease-in-out;
  text-decoration: none;

  color: $color-default-white;

  &:hover {
    color: rgba(28, 51, 116, 0.5);
  }

  &:focus {
    color: $color-resolution-blue;
    outline: none;
  }

  &:active {
    color: $color-sapphire;
    border-bottom: 1px solid $color-sapphire;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;

    &:focus {
      color: $color-default-white;
    }
  }

  @media(min-width: $tablet-width) {
    font-size: $font-line-size-lion;
    line-height: $font-line-size-lion;
    padding: 15px 14px
  }

  @media(min-width: 769px) {
    padding-right: 14px;
  }

  @media(min-width: $desktop-width) {
    font-size: $font-line-size-hippo;
    line-height: $font-line-size-hippo;

    margin: 0;
    padding: 18px 15px;
  }
}
