.info-group {
  font-family: $roboto;
}

.info-group__first {
  background-color: $color-sapphire;
}

.info-group__container {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: grid;

    grid-template-columns: 1fr 1fr;
  }
}
