.main__wrapper {
  display: block;

  padding-bottom: 32px;

  @media(min-width: $tablet-width) {
    max-width: 678px;
    display: flex;
    justify-content: center;

    padding-right: 45px;
    padding-bottom: 40px;
  }

  @media(min-width: $desktop-width) {
    max-width: 1003px;
    padding: 0;
    padding-bottom: 120px;
    padding-left: 13px;
  }
}

.main__about {
  font-family: $alumni;

  display: flex;
  flex-direction: column;

  width: 299px;
  margin: 0 auto;
  padding-top: 48px;

  color: $color-default-white;

  @media(min-width: $tablet-width) {
    width: 408px;
    padding-top: 31px;
  }

  @media(min-width: $desktop-width) {
    margin: 0;
    padding-top: 52px;
    padding-left: 65px;
  }
}

.main__description {
  font-family: $alumni;
  font-size: $font-line-size-giraffe;
  font-weight: $semi-bold;
  line-height: $font-line-size-giraffe;

  display: flex;
  justify-content: flex-end;

  margin: 0;
  margin-right: 5px;
  margin-bottom: 13px;

  @media(min-width: $tablet-width) {
    font-size: $font-line-size-whale-shark;
    line-height: $font-line-size-whale-shark;

    justify-content: flex-end;

    margin-right: 0;
    margin-bottom: 10px;
    padding-right: 30px;
  }

  @media(min-width: $desktop-width) {
    font-size: $font-line-size-grampus;
    line-height: $font-line-size-grampus;

    margin-right: 26px;
    margin-bottom: 40px;
    padding: 0;
  }
}

.main__button {
  font-family: $roboto;
  font-size: $font-line-size-mouse;
  font-weight: $bold;
  line-height: $font-line-size-mouse;

  width: 272px;
  margin: 0 auto;
  padding: 22px 7px 22px 7px;

  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  word-break: break-word;

  color: $color-default-white;
  border: $border-white;
  background-color: transparent;

  @media(min-width: $tablet-width) {
    line-height: $font-line-size-mouse;

    width: 172px;
    margin: 0;
    margin-left: 139px;
    padding: 20px 5px 20px 4px;
  }

  @media(min-width: $desktop-width) {
    align-self: end;

    width: 233px;
    margin: 0;
    margin-right: 26px;
    padding: 26px 16px 24px 17px;
  }
}

.main__list-wrapper {
  display: flex;
  align-items: center;

  width: 100%;
}

.main__list-header {
  font-family: $alumni;
  font-size: 62px;
  font-weight: $extra-bold;
  line-height: 62px;

  flex-grow: 1;

  width: 243px;
  margin: 0;
  margin-bottom: 48px;
  margin-left: auto;
  padding-top: 1px;
  padding-right: 4px;

  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;

  @media(min-width: $tablet-width) {
    font-size: 72px;
    line-height: 85px;

    margin-right: 28px;
    margin-bottom: 50px;
    margin-left: 0;
    padding: 0;

    letter-spacing: 2px;
  }

  @media(min-width: $desktop-width) {
    font-size: 92px;
    line-height: 110px;

    margin-right: 26px;
    margin-bottom: 40px;

    letter-spacing: 4px;
  }
}

.main__list {
  flex-shrink: 0;

  margin: 0;
  margin-top: 19px;
  margin-left: 5px;
  padding: 0;

  list-style: none;

  @media(min-width: $tablet-width) {
    margin: 0;
    margin-top: 5px;
    margin-left: 1px;
  }

  @media(min-width: $desktop-width) {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 51px;
  }
}

.main__list-item {
  font-family: $roboto;
  font-size: $font-line-size-rabbit;
  font-weight: $light;
  line-height: $font-line-size-deer;

  text-align: end;

  overflow-wrap: break-word;

  @media(min-width: $tablet-width) {
    line-height: $font-line-size-bear;
  }
}

.main__picture {
  margin: 0;
  margin-left: auto;
}

.main__img {
  display: none;

  object-fit: cover;

  @media(min-width: $tablet-width) {
    display: block;

    width: 324px;
    height: 390px;
  }

  @media(min-width: $desktop-width) {
    width: 500px;
    height: 524px;
  }
}
