.subscription {
  position: relative;

  overflow: hidden;

  padding-top: 14px;

  background-color: $color-ghost-white;

  @media(min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 40px;
  }

  @media(min-width: $desktop-width) {
    min-height: 739px;
    padding: 55px 103px 0 103px
  }

  &::after {
    position: absolute;

    display: none;

    content: "";

    background-image: url("../img/subscription/disks.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media(min-width: $tablet-width) {
      bottom: 5px;
      left: 443px;

      display: block;

      width: 404px;
      height: 404px;
    }

    @media(min-width: $desktop-width) {
      bottom: -44px;
      left: 1064px;

      width: 328px;
      height: 491px;
    }
  }
}

.subscription__header {
  font-family: $alumni;
  font-size: $font-line-size-giraffe;
  font-weight: $semi-bold;
  line-height: $font-line-size-giraffe;

  margin-bottom: 28px;

  text-align: center;

  @media(min-width: $tablet-width) {
    font-size: $font-line-size-whale-shark;
    line-height: $font-line-size-whale-shark;

    margin-bottom: 36px;
  }

  @media(min-width: $desktop-width) {
    font-size: $font-line-size-оrca;
    font-weight: $semi-bold;
    line-height: $font-line-size-оrca;

    margin-bottom: 20px;
  }
}

.subscription__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subscription__content {
  padding-top: 22px;

  @media(min-width: $tablet-width) {
    padding-top: 37px;
  }

  @media(min-width: $desktop-width) {
    padding-top: 32px
  }
}

.subscription__list {
  font-family: $roboto;

  display: grid;

  margin: 0 0 40px;
  padding: 0;

  list-style: none;

  gap: 35px;

  @media(min-width: $tablet-width) {
    grid-template-columns: minmax(290px, 380px);
    gap: 42px;
  }

  @media(min-width: $desktop-width) {
    grid-template-columns: repeat(3, auto);
    gap: 40px;
  }
}

.subscription__item {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  flex-direction: column;

  min-width: 290px;
  padding: 44px 69px 43px;

  border: 7px solid $color-transparent;
  outline: none;
  background-color: $color-default-white;

  overflow-wrap: break-word;

  &:hover {
    border-image: $border-gradient;

    .subscription__item-link {
      color: $color-default-white;
      border: none;
      background: $button-gradient;
    }
  }

  @media(min-width: $tablet-width) {
    min-width: 228px;
    max-width: 100%;
    padding: 56px 69px 57px;
  }

  @media(min-width: $desktop-width) {
    min-width: 290px;
    max-width: 360px;
    min-height: 369px;
    padding: 33px 28px 34px;
  }
}

.subscription__item--none {
  display: none;
}

.subscription__item-header {
  font-size: $font-line-size-bear;
  font-weight: $bold;
  line-height: $font-line-size-bear;

  margin: 0;
  margin-bottom: 18px;

  @media(min-width: $tablet-width) {
    font-size: $font-line-size-lion;
    line-height: $font-line-size-lion;

    margin-bottom: 21px;
    padding-top: 2px;
  }

  @media(min-width: $desktop-width) {
    font-size: $font-line-size-hippo;
    line-height: $font-line-size-hippo;

    margin-bottom: 17px;
    padding-top: 26px;
  }
}

.subscription__item-description {
  font-size: $font-line-size-rabbit;
  font-weight: $light;
  line-height: $font-line-size-bear;

  margin: 0;

  color: $color-sapphire;

  @media(min-width: $tablet-width) {
    font-size: $font-line-size-fox;
    line-height: $font-line-size-lion;
  }
}

.subscription__item-link {
  font-size: $font-line-size-mouse;
  font-weight: $bold;
  line-height: $font-line-size-mouse;

  width: 189px;
  padding: 25px 1px;

  cursor: pointer;
  text-transform: uppercase;

  color: $color-sapphire;
  border: 2px solid $color-sapphire;

  @media(min-width: $tablet-width) {
    width: 244px;
  }

  @media(min-width: $desktop-width) {
    width: 189px;
  }

  &:hover {
    color: $color-default-white;
    border: none;
    background: $button-gradient;
  }

  &:focus {
    color: $color-default-white;
    border: 2px solid $color-default-black;
    background: $tub-button-gradient;
  }

  &:active {
    color: rgba($color-default-white, 0.7);
    border: none;
    background: $button-gradient;
  }

  &:disabled {
    pointer-events: none;

    opacity: 0.3;
    border: 2px solid $color-default-black;
  }
}

.subscription__min-text {
  font-size: 48px;
  font-weight: $bold;
  line-height: 72px;

  position: relative;

  display: inline-block;

  padding: 86px 33px 27px 0;

  vertical-align: middle;

  color: $color-egyptian-blue;

  @media(min-width: $tablet-width) {
    font-size: 60px;
    line-height: 90px;

    padding: 84px 44px 21px 0;
  }

  @media(min-width: $desktop-width) {
    padding: 79px 44px 17px 0;
  }

  &::after {
    position: absolute;
    top: 57%;
    right: -1%;

    width: 24px;
    height: 33px;

    content: "";

    background-image: url("../img/sprite/rouble.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media(min-width: $tablet-width) {
      top: 66%;
      right: -9%;

      width: 30px;
      height: 42px;

      transform: translate(-50%, -50%);
    }
  }
}

.subscription__max-text {
  font-size: 80px;
  font-weight: $bold;

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;

  user-select: none;
  transform: translate(-50%, -50%);

  opacity: 0.5;
  color: $color-grey;

  @media(min-width: $tablet-width) {
    font-size: 100px;
    line-height: 150px;

    top: 51%;
  }

  @media(min-width: $desktop-width) {
    top: 50%
  }
}
