.tabs__buttons {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  margin-bottom: 8px;
  padding: 0 0 10px;
  padding-bottom: 18px;

  border-bottom: 1px solid rgba(120, 120, 120, 0.2);

  column-gap: 45px;

  @media (min-width: $tablet-width) {
    padding-bottom: 6px;

    border-bottom: 2px solid rgba(120, 120, 120, 0.2);

    column-gap: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8px;

    column-gap: 54px;
  }
}

.tabs__button {
  font-size: $font-line-size-fox;
  font-weight: $regular;
  line-height: $font-line-size-fox;

  position: relative;

  padding: 0;

  cursor: pointer;
  user-select: none;

  opacity: 0.5;
  color: $color-sapphire;
  border: none;
  outline: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    font-size: $font-line-size-wolf;
    line-height: $font-line-size-wolf;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-line-size-deer;
    line-height: $font-line-size-deer;
  }

  &:hover {
    opacity: 0.7;
    color: $color-sapphire;

    &::after {
      position: absolute;
      z-index: 1;
      right: 2px;
      bottom: -19px;

      width: 105%;
      height: 1px;

      content: "";

      background-color: $color-border-grey;

      @media (min-width: $tablet-width) {
        right: -1px;
        bottom: -8px;

        height: 2px;
      }

      @media (min-width: $desktop-width) {
        bottom: -10px;
      }
    }
  }

  &:focus {
    opacity: 1;

    &::after {
      position: absolute;
      z-index: 1;
      right: 2px;
      bottom: -19px;

      width: 105%;
      height: 1px;

      content: "";

      background-color: $color-sapphire;

      @media (min-width: $tablet-width) {
        right: -1px;
        bottom: -8px;

        height: 2px;
      }

      @media (min-width: $desktop-width) {
        bottom: -10px;
      }
    }
  }

  &:disabled {
    pointer-events: none;

    opacity: 0.3;

    &::after {
      position: absolute;
      z-index: 1;
      right: 2px;
      bottom: -19px;

      width: 105%;
      height: 1px;

      content: "";

      opacity: 0.3;
      background-color: $color-sapphire;

      @media (min-width: $tablet-width) {
        right: -1px;
        bottom: -8px;

        height: 2px;
      }

      @media (min-width: $desktop-width) {
        bottom: -10px;
      }
    }
  }
}

.is-active {
  opacity: 1;

  &::after {
    position: absolute;
    z-index: 1;
    right: 2px;
    bottom: -19px;

    width: 105%;
    height: 1px;

    content: "";

    background-color: $color-crimson;

    @media (min-width: $tablet-width) {
      right: -1px;
      bottom: -8px;

      height: 2px;
    }

    @media (min-width: $desktop-width) {
      bottom: -10px;
    }
  }
}
