.video {
  width: $mobile-width;
  height: 3px;
  margin-top: 36px;
  padding-bottom: 52.25%;

  transform: translate(0);

  background-color: $color-default-black;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 1120px;
    left: 249px;

    width: 270px;
    height: 170px;
    margin: 0;
    padding: 0;
  }

  @media (width >= 769px) {
    left: 41vw;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 520px;
    left: 683px;

    width: 360px;
    height: 230px;

    transform: translate(-50%, -50%);
  }
}

.video--enabled {
  cursor: pointer;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: none;

  object-fit: cover;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 52px;
  height: 52px;
  padding: 0;

  cursor: pointer;
  transform: translate(-50%, -50%);

  border: none;
  border-radius: 50%;
  outline: none;
  background: $button-gradient;

  &:active {
    width: 52px;
    height: 52px;

    background: $color-default-white;
  }

  &:focus {
    background: $color-link-water;
  }

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 72px;
    height: 72px;
  }
}

.video__button-img {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 72px;
  height: 72px;

  transform: translate(-50%, -50%);

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
  }
}

.video:hover .video__button-border {
  stroke: $color-sapphire;
  stroke-opacity: 0.6;
}

.video:hover .video__button {
  background: $color-default-white;
}

.video:hover .video__button-center {
  opacity: 0.6;

  fill: $color-sapphire;
}

.video__button:focus .video__button-border,
.video__button:active .video__button-border {
  opacity: 1;

  stroke: $color-sapphire;
}

.video__button:focus .video__button {
  background: $color-link-water;
}

.video__button:focus .video__button-center,
.video__button:active .video__button-center {
  opacity: 1;

  fill: $color-sapphire;
}

.video__button:disabled {
  pointer-events: none;

  opacity: 0.4;
}
