// Font Alumni

@font-face {
  font-style: normal;
  font-weight: $regular;
  font-family: "Alumni Sans";
  font-display: swap;
  src:
    url("../fonts/alumni-sans/AlumniSans-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/alumni-sans/AlumniSans-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: $semi-bold;
  font-family: "Alumni Sans";
  font-display: swap;
  src:
    url("../fonts/alumni-sans/AlumniSans-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/alumni-sans/AlumniSans-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: $extra-bold;
  font-family: "Alumni Sans";
  font-display: swap;
  src:
    url("../fonts/alumni-sans/AlumniSans-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/alumni-sans/AlumniSans-VariableFont_wght.woff") format("woff");
}

// Font Roboto
@font-face {
  font-style: normal;
  font-weight: $extra-light;
  font-family: "Roboto Condensed";
  font-display: swap;
  src:
    url("../fonts/roboto-condensed/RobotoCondensed-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/roboto-condensed/RobotoCondensed-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: $light;
  font-family: "Roboto Condensed";
  font-display: swap;
  src:
    url("../fonts/roboto-condensed/RobotoCondensed-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/roboto-condensed/RobotoCondensed-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: $light;
  font-family: "Roboto Condensed";
  font-display: swap;
  src:
    url("../fonts/roboto-condensed/RobotoCondensed-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/roboto-condensed/RobotoCondensed-VariableFont_wght.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: $regular;
  font-family: "Roboto Condensed";
  font-display: swap;
  src:
    url("../fonts/roboto-condensed/RobotoCondensed-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/roboto-condensed/RobotoCondensed-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: $semi-bold;
  font-family: "Roboto Condensed";
  font-display: swap;
  src:
    url("../fonts/roboto-condensed/RobotoCondensed-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/roboto-condensed/RobotoCondensed-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: $bold;
  font-family: "Roboto Condensed";
  font-display: swap;
  src:
    url("../fonts/roboto-condensed/RobotoCondensed-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/roboto-condensed/RobotoCondensed-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: $extra-bold;
  font-family: "Roboto Condensed";
  font-display: swap;
  src:
    url("../fonts/roboto-condensed/RobotoCondensed-VariableFont_wght.woff2") format("woff2"),
    url("../fonts/roboto-condensed/RobotoCondensed-VariableFont_wght.woff") format("woff");
}
